{% load staticfiles %}<!doctype html>
<html lang="pt-BR">
  {% load i18n %}
  <head>
    <!-- Metas -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0">
    <title>Seven Gráfica | {% block title %}{{ section.title }}{% endblock %}</title>
    <meta name="description" content="A mais nova gráfica rápida da Baixada Santista! Tudo que você precisa para divulgar sua marca e sair na frente da concorrência!">
    <meta name="author" content="Willtrigo">
    <!-- CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">{% block stylesheet %}{% endblock %}
    <!-- Favicons -->
    <link rel="icon" href='{% static 'img/favicon-16x16.ico' %}' sizes="16x16">
  </head>
  <body class="">
    {% include 'includes/header.html' %}    <main role="main" class="pb-3">
      {% block content %}{% endblock %}
    </main>
    {% include 'includes/footer.html' with nome='Seven Gráfica'%}    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>{% block stylejs %}{% endblock %}
    <script src="{% static 'js/jarallax.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
