html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
/* menu */
.bg-navbar {
  min-height: 4rem;
  background-color: #201e1e;
}
@media (max-width:991px) {
  .bg-navbar {
    padding-right: .5rem;
    padding-left: .5rem;
  }
}
@media (min-width:768px) {
  @supports ((position: -webkit-sticky) or (position:sticky)) {
    .bg-navbar {
       position: -webkit-sticky;
       position: sticky;
       top: 0;
       z-index: 1000;
    }
  }
}
/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  padding: 1rem;
  background-color: #201e1e;
}

a .fa-stack:hover, a .fa-stack:active {
  text-decoration: none;
  opacity:0.3;
}
