{% extends 'base.html' %}{% load staticfiles %}
{% block title %}Sobre nós{% endblock title %}
{% block stylesheet %}{% endblock %}
{% block content %}<div data-jarallax data-img-position="center 80%" data-speed="0" class="jumbotron">
        <img class="jarallax-img" src={% static 'img/img.top.png' %} alt="">
        <div class="container-fluid">
          <div class="row flex-xl-nowrap">
            <div class="col-12 bd-sidebar text-secondary">

                  <h1 class="display-4 p-0 m-0">Sobre nós</h1>
                  <hr class="h-5 bg-secondary p-0">
                  <p class="lead p-0"><small>Um pouco mais sobre nossa empresa</small></p>

            </div>
          </div>
        </div>
      </div>

      <div class="container text-center pb-3">
        <h2 class="display-4 pb-3">Conheça a <strong class="text-success">Seven</strong></h2>
      </div>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="fa-stack fa-5x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <span class="fa fa-stack-1x fa-inverse"><p style="font-size: .5em; ">2 anos</p></span>
            </div>
            <div class="py-3">
              <p>Somos uma gráfica completa, que há 2 anos, valorizamos impressos e materiais digitais e buscando sua inovação</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="fa-stack fa-5x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-tint fa-stack-1x fa-inverse"></i>
            </div>
            <div class="py-3">
              <p>Apaixonados por serviços gráficos e impressos, nossa equipe, busca soluções e agilidade em parcerias com os clientes para gerar inovações nos serviços, transformando sua ideia em um produto memorável e sofisticado</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="fa-stack fa-5x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-sliders-h fa-stack-1x fa-inverse"></i>
            </div>
            <div class="py-3">
              <p>Buscamos compreender a realidade de nossos clientes, oferecendo bons custos e maior possibilidade de resultados</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="fa-stack fa-5x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="far fa-handshake fa-stack-1x fa-inverse"></i>
            </div>
            <div class="py-3">
              <p>Nosso objetivo é facilitar e tornar eficaz as peças gráficas e assim construindo relações duradouras de sucesso</p>
            </div>
          </div>
        </div>
      </div>

      <hr class="h-2 bg-secondary mx-5">

      <div class="container text-center py-3">
        <h3 class="display-4 pb-3">Serviços</h3>
        <p class="lead">Nós amamos as cores, o cheiro de tinta, as texturas dos papéis, o barulho das máquinas e principalmente o resultado de concluir todas essas possibilidades gráficas dos materiais dos nossos clientes. Ficamos muito felizes de fazer parte de todo esse processo</p>
      </div>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="fa-stack fa-5x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-print fa-stack-1x fa-inverse"></i>
            </div>
            <div class="py-3">
              <p><strong>Impressão gráfica</strong></p>
              <p>Somos uma gráfica completa, que há 2 anos, valorizamos impressos e materiais digitais e buscando sua inovação</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="fa-stack fa-5x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-edit fa-stack-1x fa-inverse"></i>
            </div>
            <div class="py-3">
              <p><strong>Arte digital</strong></p>
              <p>Apaixonados por serviços gráficos e impressos, nossa equipe, busca soluções e agilidade em parcerias com os clientes para gerar inovações nos serviços, transformando sua ideia em um produto memorável e sofisticado</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="fa-stack fa-5x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-book fa-stack-1x fa-inverse"></i>
            </div>
            <div class="py-3">
              <p>Buscamos compreender a realidade de nossos clientes, oferecendo bons custos e maior possibilidade de resultados</p>
            </div>
          </div>
        </div>
      </div>

      {% endblock content %}
{% block stylejs %}{% endblock %}
