beautifulsoup4==4.6.0
chardet==3.0.4
dj-database-url==0.4.2
Django==1.11.5
django-extensions==2.0.6
django-newsletter==0.6
django-npm==1.0.0
django-tinymce==2.7.0
django-webtest==1.9.2
gunicorn==19.7.1
ldif3==3.1.1
Pillow==5.0.0
psycopg2==2.7.3.1
python-card-me==0.9.3
python-dateutil==2.7.2
python-decouple==3.1
pytz==2017.2
six==1.11.0
sorl-thumbnail==12.4.1
surlex==0.2.0
unicodecsv==0.14.1
Unipath==1.1
waitress==1.1.0
WebOb==1.7.4
WebTest==2.0.29
whitenoise==3.3.1
