{% extends 'base.html' %}{% load staticfiles %}
{% block title %}Cases{% endblock title %}
{% block stylesheet %}
    <link href="{% static 'css/cases.css' %}" rel="stylesheet">{% endblock %}
{% block content %}<div data-jarallax data-img-position="center 80%" data-speed="0" class="jumbotron mb-0">
        <img class="jarallax-img" src={% static 'img/img.top.png' %} alt="">
        <div class="container-fluid">
          <div class="row flex-xl-nowrap">
            <div class="col-12 bd-sidebar text-secondary">

                  <h1 class="display-4 p-0 m-0">Cases</h1>
                  <hr class="h-5 bg-secondary p-0">
                  <p class="lead p-0"><small>Conheça alguns dos produtos que já foram produzidos pela Seven!</small></p>

            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid m-0 p-0">

        <div class="d-flex flex-wrap text-center">

          {% for case in cases %}
          <div class="col-lg-4 col-md-6 col-xs-12 m-0 p-0">
            <div class="card">
              <a href="{{ case.get_absolute_url }}" class="text-dark img-cases">
                <img class="card-img-top" src={{ case.image.url }} alt={{ case.name }}>
                <div class="card-body">
                  <p class="card-text">{{ case.name }}</p>
                </div>
              </a>
            </div>
          </div>
          {% empty %}
          <div class="container m-3 p-3 col-12 text-center">
            <h2>Cases estão indisponível no momento</h2>
          </div>
          {% endfor %}

        </div>

      </div>
      {% endblock content %}
{% block stylejs %}
{% endblock %}
