<footer class="footer">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-8 text-secondary " >© 2018 {{ nome }}.</div>
          <div class="col-auto">
            <a href="https://www.instagram.com/graficaseven/" target="_blank">
              <div class="fa-stack fa-lg">
                <i class="fas fa-square fa-stack-2x text-dark"></i>
                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
              </div>
            </a>
            <a href="https://www.facebook.com/sevengrafica.santos/" target="_blank">
              <div class="fa-stack fa-lg">
                <i class="fas fa-square fa-stack-2x text-dark"></i>
                <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </footer>
