{% load staticfiles %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">
    <img src={% static 'img/seven.logo.png' %} height=40 alt="Seven Gráfica"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsMenu" aria-controls="navbarsMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsMenu">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item active mx-auto">
        <a href="#" class="nav-link">Home</a>
      </li>
      <li class="nav-item active mx-auto">
        <a href="#" class="nav-link">Empresa</a>
      </li>
      <li class="nav-item active mx-auto">
        <a href="#" class="nav-link">Serviços</a>
      </li>
      <li class="nav-item active mx-auto">
        <a href="#" class="nav-link">Cases</a>
      </li>
      <li class="nav-item active mx-auto">
        <a href="#" class="nav-link">Clientes</a>
      </li>
      <li class="nav-item active mx-auto">
        <a href="#" class="nav-link">Contato</a>
      </li>
    </ul>
  </div>
</nav>
